{% extends 'layout.html' %}

{% block body %}
<form class="ui form" method="post" action="/closures/{{pipeline.cid}}/pipelines/{{pipeline._id}}/edit">
    <div class="ui field">
        <label>Name</label>
        <input type="text" name="name" placeholder="a cool name for your pipeline" value="{{pipeline.name}}" />
    </div>
    <div class="ui field">
        <label>Input Data Format</label>
        <div class="ui selection dropdown">
            <input name="format" value="{{pipeline.meta and pipeline.meta.format}}" type="hidden" />
            <div class="default text">Data Format</div>
            <div class="menu">
                {% for df in dataformats %}
                <div class="item" data-value="{{df.slug}}">{{df.name}}</div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="ui field">
        <label>Pipeline Type</label>
        <div class="ui selection dropdown" id="pipeline-type">
            <input name="pipeline-type" value="{{pipeline.type}}" type="hidden" />
            <div class="default text">Pipeline Type</div>
            <div class="menu">
                {% for pt in pipelinetypes %}
                    <div class="item" data-value="{{pt.slug}}">{{pt.name}}</div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="ui field">
        <div id="pipeline-type-meta"></div>
    </div>
    <div class="ui field">
        <input type="submit" class="ui button" value="Save" />
    </div>
</form>
<script>
$(document).ready(function() {
    $('#pipeline-type').dropdown('setting', 'onChange', function(value, text) {
        $.get('/partials/meta/pipelinetypes/' + value + '/pipeline', function(response) {
            $('#pipeline-type-meta').html(response);
        });
    });
});
</script>
{% endblock %}
